In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\nurul\Downloads\OurDataset_test.csv",encoding='utf-8')
print(df)

                    label                                               text  \
0            zahir_rayhan  করে উঠলো মাহমুদ। পরক্ষণে ওর মনে হলো, তাই তো সে...
1     shunil_gongopaddhay  ট্রেন থেকে আ নামবে না। প্ৰতাপ শান্ত ভাব বজায় ...
2           shorotchandra  মনে আছে? বেশ, তেমনি ধারাই না হয় আর একটা রাত্রি...
3           humayun_ahmed  এই যে আমরা প্রায়ই আসি আপনার চাচা বিরক্ত হন না?...
4     shunil_gongopaddhay  উকিল এবং যথেষ্ট প্রতিপত্তিশালী। মানুষটি অতিশয় ...
...                   ...                                                ...
3587            shordindu  করিয়া সহজভাবে বলিল—ঘোড়া দুটিকে বৰ্গা খুলিয়া ছা...
3588  shunil_gongopaddhay  না। আমরা সবাই থোড়া কুচ সাবক্রিপশান দিয়ে মেয়েটা...
3589  shunil_gongopaddhay  কাকাবাবু, আমি আগে কখনও অজ্ঞান হইনি। নিজের কাছে...
3590   nihar_ronjon_gupta  মধ্যে প্রবেশ করলেন। প্রথমেই ওরা সুশান্ত মল্লিক...
3591        humayun_ahmed  আপনার অফিস? হুঁ। আপনার টেবিলের উপর কী? বাক্সের...

      is_valid
0         True
1         True
2         True
3         True
4         True
...        ...
3587      True
3588      True
3589      True
3590      True
3591      True

[3592 rows x 3 columns]

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3592 entries, 0 to 3591
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   label     3592 non-null   object
 1   text      3592 non-null   object
 2   is_valid  3592 non-null   bool
dtypes: bool(1), object(2)
memory usage: 59.8+ KB
None

In [4]:
col1 = df['label']
print(col1)

0              zahir_rayhan
1       shunil_gongopaddhay
2             shorotchandra
3             humayun_ahmed
4       shunil_gongopaddhay
               ...
3587              shordindu
3588    shunil_gongopaddhay
3589    shunil_gongopaddhay
3590     nihar_ronjon_gupta
3591          humayun_ahmed
Name: label, Length: 3592, dtype: object

In [5]:
col2=df['text']
print(col2)

0       করে উঠলো মাহমুদ। পরক্ষণে ওর মনে হলো, তাই তো সে...
1       ট্রেন থেকে আ নামবে না। প্ৰতাপ শান্ত ভাব বজায় ...
2       মনে আছে? বেশ, তেমনি ধারাই না হয় আর একটা রাত্রি...
3       এই যে আমরা প্রায়ই আসি আপনার চাচা বিরক্ত হন না?...
4       উকিল এবং যথেষ্ট প্রতিপত্তিশালী। মানুষটি অতিশয় ...
                              ...
3587    করিয়া সহজভাবে বলিল—ঘোড়া দুটিকে বৰ্গা খুলিয়া ছা...
3588    না। আমরা সবাই থোড়া কুচ সাবক্রিপশান দিয়ে মেয়েটা...
3589    কাকাবাবু, আমি আগে কখনও অজ্ঞান হইনি। নিজের কাছে...
3590    মধ্যে প্রবেশ করলেন। প্রথমেই ওরা সুশান্ত মল্লিক...
3591    আপনার অফিস? হুঁ। আপনার টেবিলের উপর কী? বাক্সের...
Name: text, Length: 3592, dtype: object

In [6]:
print(df['is_valid'])

0       True
1       True
2       True
3       True
4       True
        ...
3587    True
3588    True
3589    True
3590    True
3591    True
Name: is_valid, Length: 3592, dtype: bool

In [7]:
author_count=dict()
for i in col1:
    author_count[i]=author_count.get(i,0)+1
    
print(author_count)

{'zahir_rayhan': 37, 'shunil_gongopaddhay': 393, 'shorotchandra': 261, 'humayun_ahmed': 906, 'shomresh': 282, 'MZI': 220, 'toslima_nasrin': 186, 'shordindu': 177, 'nazrul': 44, 'shottojit_roy': 169, 'tarashonkor': 155, 'shirshendu': 210, 'bongkim': 112, 'nihar_ronjon_gupta': 95, 'manik_bandhopaddhay': 93, 'robindronath': 252}

In [8]:
count = 0
for author in author_count:
    count=count+1
print('number of author in the corpus:',count)

number of author in the corpus: 16

In [9]:
#store text in each author list

zahir_rayhan_text=list()
shunil_gongopaddhay_text=list()
shorotchandra_text=list()
humayun_ahmed_text=list()
shomresh_text=list()
MZI_text=list()
toslima_nasrin_text=list()
shordindu_text=list()
nazrul_text=list()
shottojit_roy_text=list()
tarashonkor_text=list()
shirshendu_text=list()
bongkim_text=list()
nihar_ronjon_gupta_text=list()
manik_bandhopaddhay_text=list()
robindronath_text=list()


for i,j in zip(col1,col2):
    if i=='zahir_rayhan':
        zahir_rayhan_text.append(j)
    if i=='shunil_gongopaddhay':
        shunil_gongopaddhay_text.append(j)
    if i=='shorotchandra':
        shorotchandra_text.append(j)
    if i=='humayun_ahmed':
        humayun_ahmed_text.append(j)
    if i=='shomresh':
        shomresh_text.append(j)
    if i=='MZI':
        MZI_text.append(j)
    if i=='toslima_nasrin':
        toslima_nasrin_text.append(j)
    if i=='shordindu':
        shordindu_text.append(j)
    if i=='nazrul':
        nazrul_text.append(j)
    if i=='shottojit_roy':
        shottojit_roy_text.append(j)
    if i=='tarashonkor':
        tarashonkor_text.append(j)
    if i=='shirshendu':
        shirshendu_text.append(j)
    if i=='bongkim':
        bongkim_text.append(j)
    if i=='nihar_ronjon_gupta':
        nihar_ronjon_gupta_text.append(j)
    if i=='manik_bandhopaddhay':
        manik_bandhopaddhay_text.append(j)
    if i=='robindronath':
        robindronath_text.append(j)

In [61]:
#take each author text into dataframe
df1=pd.DataFrame(zahir_rayhan_text)
df2=pd.DataFrame(shunil_gongopaddhay_text)
df3=pd.DataFrame(shorotchandra_text)
df4=pd.DataFrame(humayun_ahmed_text)
df5=pd.DataFrame(shomresh_text)
df6=pd.DataFrame(MZI_text)
df7=pd.DataFrame(toslima_nasrin_text)
df8=pd.DataFrame(shordindu_text)
df9=pd.DataFrame(nazrul_text)
df10=pd.DataFrame(shottojit_roy_text)
df11=pd.DataFrame(tarashonkor_text)
df12=pd.DataFrame(shirshendu_text)
df13=pd.DataFrame(bongkim_text)
df14=pd.DataFrame(nihar_ronjon_gupta_text)
df15=pd.DataFrame(manik_bandhopaddhay_text)
df16=pd.DataFrame(robindronath_text)

In [62]:
#save each dataframe into excel
df1.to_excel('zahir_rayhan.xlsx')
df2.to_excel('shunil_gongopaddhay.xlsx')
df3.to_excel('shorotchandra.xlsx')
df4.to_excel('humayun_ahmed.xlsx')
df5.to_excel('shomresh.xlsx')
df6.to_excel('MZI.xlsx')
df7.to_excel('toslima_nasrin.xlsx')
df8.to_excel('shordindu.xlsx')
df9.to_excel('nazrul.xlsx')
df10.to_excel('shottojit_roy.xlsx')
df11.to_excel('tarashonkor.xlsx')
df12.to_excel('shirshendu.xlsx')
df13.to_excel('bongkim.xlsx')
df14.to_excel('nihar_ronjon_gupta.xlsx')
df15.to_excel('manik_bandhopaddhay.xlsx')
df16.to_excel('robindronath.xlsx')

In [12]:
from random import shuffle

In [69]:
#print(zahir_rayhan_text)
#zahir_rayhan_text[0]
zrt=' '
for i in range(37):
    zrt=f'{zahir_rayhan_text[i]} {zrt}'
#print(zrt)
sentences1=zrt.split('।')
print('total sentence',len(sentences1))
#print(sentences1)
sen_filter1=''
for i in sentences1:
    splt1=i.split()
    if len(splt1)>=12:
        sen_filter1=f'{i}। {sen_filter1}'
        
#print(random1)
sen_random1=sen_filter1.split('।')
print('sen_random1',len(sen_random1))
zrt_df=pd.DataFrame(sen_random1)
#zrt_df.columns=['sent']
#zrt_df.to_excel('zahir_rayhan_random.xlsx',index=False)
words1=zrt.split()
print('zahir rayhan text word number: ',len(words1))
#print(words1)

total sentence 3465
sen_random1 661
zahir rayhan text word number:  27750

In [70]:
df=pd.read_excel('zahir_rayhan_random.xlsx')
df

                                                  sent
0     এখন কেমন লাগছে আপনার? একে-একে বিশ্রামাগারে যা...
1      মনসুর সাহেবসহ কত জায়গায় খুঁজেছি আপনাকে, শে...
2      লিলি ঝুঁকে পড়ে আবার জিজ্ঞেস করলো, কেমল লাগছ...
3      কেন এমন হলো? কেন তারা মারা গেল? সারা বুক যন্...
4      মা, বাবা, মরিয়ম, হাসিনা, দুলু, খোকন–একে একে...
..                                                 ...
655    তাই সকলের ঘুম ভেঙ্গে ওঠার আগে বেরিয়ে যায়–আ...
656    খোকন ফুটবলটা দুহাতে বুকে জড়িয়ে ধরে প্রশ্ন ...
657    জীবনে কত মানুষ দেখলাম, এমন নম্র আর ভদ্র ছেলে...
658    অসুখ-টসুখ করে নি তো ওর? বাবা বলেন, আসবে, বোধ...
659    কোনদিন ও না এলে মা চিন্তিত হয়ে শুধায়, কিরে...

[660 rows x 1 columns]

In [71]:
sgt=' '
for i in range(393):
    sgt=f'{shunil_gongopaddhay_text[i]} {sgt}'
#print(sgt)
sentences2=sgt.split('।')
print('total sentence',len(sentences2))
#print(sentences2)
sen_filter2=''
for i in sentences2:
    splt2=i.split()
    if len(splt2)>=12:
        sen_filter2=f'{i}। {sen_filter2}'

sen_ran2=sen_filter2.split('।')
#print(sen_random2)
print(type(sen_ran2))
print('sen_ran2',len(sen_ran2))
shuffle(sen_ran2)
#print(sen_ran2)
words2=sgt.split()
print(f'shunil gongopaddhay text word number: ',len(words2))

total sentence 26123
<class 'list'>
sen_ran2 9240
shunil gongopaddhay text word number:  294750

In [75]:
#print(sen_ran2[4000:4010])
randomsentence2=''
for i in sen_ran2[4000:6001]:
    randomsentence2=f'{i}।{randomsentence2}'

sgt_df=pd.DataFrame(randomsentence2.split('।'))
sgt_df.columns=['sent']
#sgt_df.to_excel('shunil_gongopaddhay_random.xlsx',index=False)

In [76]:
df=pd.read_excel('shunil_gongopaddhay_random.xlsx')
df

                                                   sent
0       এলাকার অনেক বাড়ির দরজায় জাহাজীল্যাম্প হাতে ন...
1       ভার্মা বললেন, বাইরের লোকটি কে? কাকাবাবু অবাক...
2       খেয়ালের হাওয়া লেগে যে খ্যাপা ওঠে জেগে সে কি ...
3       নেহাত জামা আর প্যান্ট ভিজে গেছে এবং চুল এলোম...
4       হালকা গলায় তিনি বললেন, হ্যালো, রাজমহেন্দ্ৰী,...
...                                                 ...
1996    পদ্মনাভন কৌতূহলী হয়ে জিজ্ঞেস করলেন, পাখির রহ...
1997    সে রীতিমতন সুগায়ক, গান গাইবার জন্য অনেক জায়গ...
1998    প্রোফেসর সেন যখন তার কাছে এসে বললেন, টাইম ইজ...
1999    তাহলে ভাই আমরা এতজন রয়িচি, আমরাও ওনাকে মদ্যু...
2000    ঠিক প্রমাণ দাখিল না করলে সবার কাছে লাফিং স্ট...

[2001 rows x 1 columns]

In [77]:
sct=' '
for i in range(261):
    sct=f'{shorotchandra_text[i]} {sct}'
#print(sct)
sentences3=sct.split('।')
print('total sentence',len(sentences2))
#print(sentences3)
sen_filter3=''
for i in sentences3:
    splt3=i.split()
    if len(splt3)>=12:
        sen_filter3=f'{i}। {sen_filter3}'

sen_ran3=sen_filter3.split('।')
#print(sen_random3)
print(type(sen_ran3))
print('sen_ran3',len(sen_ran3))
shuffle(sen_ran3)
#print(sen_ran3)
words3=sct.split()
print(f'shorotchandra text word number: ',len(words3))

total sentence 26123
<class 'list'>
sen_ran3 6805
shorotchandra text word number:  195750

In [78]:
#print(sen_ran3[3000:3010])
randomsentence3=''
for i in sen_ran3[3000:5001]:
    randomsentence3=f'{i}।{randomsentence3}'
#print(randomsentence3)
sct_df=pd.DataFrame(randomsentence3.split('।'))
sct_df.columns=['sent']
#sct_df.to_excel('shorotchandra_random.xlsx',index=False)

In [79]:
df=pd.read_excel('shorotchandra_random.xlsx')
df

                                                   sent
0       ভাল করিয়া লক্ষ্য করিয়াও তাঁহাকে অল্পশিক্ষিত,...
1       রূপ-যৌবনের আকর্ষণটাই যদি ভালবাসার সবটুকু হতো...
2       ভদ্রলোক প্রত্যুত্তরে কি একটা বলিতে চাহিল, কি...
3       সস্নেহে ডান হাতখানি তাহার মাথার উপরে রাখিয়া ...
4       কি? সব সত্য? এবার মালতী মুখপানে চাহিয়া রহিল,...
...                                                 ...
1995    এ কি কোন পুরুষের পক্ষেই সাজে? তা ছাড়া, কি প্...
1996    মাধুরী চলিয়া গেলে, দুর্গা বোধ করি নিতান্তই ম...
1997    তোমার সঙ্গে যেখানে যে অবস্থায় থাকিনে কেন, সে...
1998    কৈ গো, বাবাজী কোথায় গো? বলিয়া একটি শীর্ণকায় ...
1999    এখানে পা দিয়াই সে এমন একটা কদর্য নোংরা ব্যাপ...

[2000 rows x 1 columns]

In [80]:
hat=' '
for i in range(906):
    hat=f'{humayun_ahmed_text[i]} {hat}'
#print(hat)
sentences4=hat.split('।')
print('total sentence',len(sentences4))
#print(sentences4)
sen_filter4=''
for i in sentences4:
    splt4=i.split()
    if len(splt4)>=12:
        sen_filter4=f'{i}। {sen_filter4}'

sen_ran4=sen_filter4.split('।')
#print(sen_random4)
print(type(sen_ran4))
print('sen_ran4',len(sen_ran4))
shuffle(sen_ran4)
#print(sen_ran4)
words4=hat.split()
#print(words4)
print(f'humayunn ahmed text word number: ',len(words4))

total sentence 93679
<class 'list'>
sen_ran4 12924
humayunn ahmed text word number:  679500

In [83]:
#print(sen_ran4[6000:6010])
randomsentence4=''
for i in sen_ran4[6000:8001]:
    randomsentence4=f'{i}।{randomsentence4}'
#print(randomsentence4)
hat_df=pd.DataFrame(randomsentence4.split('।'))
hat_df.columns=['sent']
hat_df.to_excel('humayun_ahmed_random.xlsx',index=False)

In [84]:
df=pd.read_excel('humayun_ahmed_random.xlsx')
df

                                                   sent
0       টাকা পয়সা না নিলে ওনার চলে কীভাবে? ওনার কীভা...
1       হাবীবের মনে হলো জগাখিচুড়ি ভাষার দরকার কী? আয়...
2      ‘ পেছনের সিটে বসা লীনার আব্বু বিরক্ত হয়ে ধমক ...
3       বোন ভাই-এর অম্লান শাটে দিয়েছে লাগিয়ে নক্ষত্র...
4       দেখা যাবে, বাদল সুস্থ হয়ে গেল কিন্তু গাছটার ...
...                                                 ...
1995    বকুল কয়েক সেকেন্ডের জনো চুপ করে আবার কথা শুর...
1996    আপা, আপনার পায়ে ধরি—- . তরুণী তখন বলে, কি বা...
1997    আমার জন্মদিন এমন কোনো বিরাট ব্যাপার না যে তো...
1998    এত শুকনা গলায় জ্বি বলছ কেন? জোর করে ধরে বেন্...
1999    আমার কেন জানি মনে হয়, বড় আপার সঙ্গে তৌ মেয়েট...

[2000 rows x 1 columns]

In [85]:
shomt=' '
for i in range(282):
    shomt=f'{shomresh_text[i]} {shomt}'
#print(shomt)
sentences5=shomt.split('।')
print('total sentence',len(sentences5))
#print(sentences5)
sen_filter5=''
for i in sentences5:
    splt5=i.split()
    if len(splt5)>=12:
        sen_filter5=f'{i}। {sen_filter5}'

sen_ran5=sen_filter5.split('।')
#print(sen_random5)
print(type(sen_ran5))
print('sen_ran5',len(sen_ran5))
shuffle(sen_ran5)
#print(sen_ran5)
words5=shomt.split()
#print(words5)
print(f'shomresh text word number: ',len(words5))

total sentence 24431
<class 'list'>
sen_ran5 5495
shomresh text word number:  211500

In [102]:
#print(sen_ran5[1500:1510])
randomsentence5=''
for i in sen_ran5[1500:3500]:
    randomsentence5=f'{i}।{randomsentence5}'
#print(randomsentence5)
shomt_df=pd.DataFrame(randomsentence5.split('।'))
shomt_df.columns=['sent']
shomt_df.to_excel('shomresh_random.xlsx',index=False)

In [103]:
df=pd.read_excel('shomresh_random.xlsx')
df

                                                   sent
0       কিন্তু যতই খুশী হোক দীপার মনে হয়েছিল শরীরের ...
1       একটা শেকড়ের ওপর গাছ দাঁড়িয়ে থাকে না, তাকে আর...
2       যদি জিম ওটা ইতিমধ্যে সরিয়ে ফেলত তা হলে খবরটা...
3       আর মজুরটা ওর সমস্ত শরীরে আদর করার মতো করে হা...
4       দীপাবলীর কপালে ভাঁজ পড়ল, তুই কি রাত্রে এখানে...
...                                                 ...
1995    আকাশবিহারী, মাসুদ এবং কাজলকে সদরে চালান করে ...
1996    শুধু ওদের বাড়ির জানালায় অনেকগুলো মুখ কী ভীষণ...
1997    ময়নাগুড়ি রোড়ে এলে টিকিট কাটার সময় জানতে পারল...
1998    চারপাশের আওয়াজ, মানুষের ব্যস্ত চলাফেরা, ট্রে...
1999    আনন্দ হাসল, গ্রেট ডিসকভারি! কাঠ তো ছিলই, এই ...

[2000 rows x 1 columns]

In [88]:
mzit=' '
for i in range(220):
    mzit=f'{MZI_text[i]} {mzit}'
#print(mzit)
sentences6=mzit.split('।')
print('total sentence',len(sentences6))
#print(sentences6)
sen_filter6=''
for i in sentences6:
    splt6=i.split()
    if len(splt6)>=12:
        sen_filter6=f'{i}। {sen_filter6}'

sen_ran6=sen_filter6.split('।')
#print(sen_random6)
print(type(sen_ran6))
print('sen_ran6',len(sen_ran6))
shuffle(sen_ran6)
#print(sen_ran6)
words6=mzit.split()
#print(words6)
print(f'MZI text word number: ',len(words6))

total sentence 13469
<class 'list'>
sen_ran6 5834
MZI text word number:  165000

In [104]:
#print(sen_ran6[1500:1510])
randomsentence6=''
for i in sen_ran6[1500:3500]:
    randomsentence6=f'{i}।{randomsentence6}'
#print(randomsentence6)
mzit_df=pd.DataFrame(randomsentence6.split('।'))
mzit_df.columns=['sent']
mzit_df.to_excel('mzit_random.xlsx',index=False)

In [105]:
df=pd.read_excel('mzit_random.xlsx')
df

                                                   sent
0       তারপর শুনলাম পরিষ্কার গুলায় কে যেন বলল, তোমা...
1       কী চমৎকার একটা ব্যাপার! এই চমৎকার ব্যাপারটার...
2       বাজারের কাছে দিয়ে যখন যাচ্ছি তখন রাশেদ থেমে ...
3       উপগ্রহটিতে সেই বিচিত্র প্রাণীদের নিয়ে বিস্ময়...
4       ঈশিতা তাড়াতাড়ি কথা বলতে থাকে, যদিও সে জানত ন...
...                                                 ...
1995    মতি কাঁদো কাঁদো গলায় বলল, “আমি কী করেছি ভাই,...
1996    ঝুনু মাস্তান দুইজনের কাছে এসে জিজ্ঞেস করল, আ...
1997    ঘরের ফাঁকা জায়গাটিতে তাকিয়ে আমি বুকের ভিতরে ...
1998    ফারিহা নাম্বারটা ডায়াল করে টেলিফোন কানে লাগা...
1999    ছোটাচ্চু বই থেকে মুখ তুলে জিজ্ঞেস করল, কী খব...

[2000 rows x 1 columns]

In [92]:
tnt=' '
for i in range(186):
    tnt=f'{toslima_nasrin_text[i]} {tnt}'
#print(tnt)
sentences7=tnt.split('।')
print('total sentence',len(sentences7))
#print(sentences7)
sen_filter7=''
for i in sentences7:
    splt7=i.split()
    if len(splt7)>=12:
        sen_filter7=f'{i}। {sen_filter7}'

sen_ran7=sen_filter7.split('।')
#print(sen_random7)
print(type(sen_ran7))
print('sen_ran7',len(sen_ran7))
shuffle(sen_ran7)
#print(sen_ran7)
words7=tnt.split()
#print(words7)
print(f'toslima nasrin text word number: ',len(words7))

total sentence 11740
<class 'list'>
sen_ran7 4503
toslima nasrin text word number:  139500

In [106]:
#print(sen_ran7[1500:1510])
randomsentence7=''
for i in sen_ran7[1500:3500]:
    randomsentence7=f'{i}।{randomsentence7}'
#print(randomsentence7)
tnt_df=pd.DataFrame(randomsentence7.split('।'))
tnt_df.columns=['sent']
tnt_df.to_excel('toslima_nasrin_random.xlsx',index=False)

In [107]:
df=pd.read_excel('toslima_nasrin_random.xlsx')
df

                                                   sent
0       এরপর বধূর পিতা বরের হাতে কন্যা সমৰ্পণ করলেন ...
1       সবুর কার এত সয়! শেষ অবদি মাথা ফুঁড়ে বেরিয়ে আ...
2       সংগ্রামী হিসেবে আমার নাম হয়েছে, কিন্তু আমি ন...
3       কতবার উঠে আনমনে দরজার কাছে চলে যেতে চাই, নিজ...
4       রক্ত জমাট বেঁধে হৃদপিণ্ডের বা মস্তিস্কের রক্...
...                                                 ...
1995    পানি নিয়ে বারান্দায় হাত ধুতে যাবার ভান করে প...
1996    ক্যারোলিনের সঙ্গে দুদিন দেখা হয়েছে বাংলা একা...
1997    লোকে কয়েক লক্ষ টাকা ঘুষ দিয়েও পাঁচশ টাকার সর...
1998    যেসব রাজনৈতিক নেতা এক দল থেকে আরেক দলে নাম ল...
1999    আপিসের কেরানিরা বসে থাকেন সামনে কাগজ, কলম আর...

[2000 rows x 1 columns]

In [96]:
short=' '
for i in range(177):
    short=f'{shordindu_text[i]} {short}'
#print(short)
sentences8=short.split('।')
print('total sentence',len(sentences8))
#print(sentences8)
sen_filter8=''
for i in sentences8:
    splt8=i.split()
    if len(splt8)>=12:
        sen_filter8=f'{i}। {sen_filter8}'

sen_ran8=sen_filter8.split('।')
#print(sen_random8)
print(type(sen_ran8))
print('sen_ran8',len(sen_ran8))
shuffle(sen_ran8)
#print(sen_ran8)
words8=short.split()
#print(words8)
print(f'shordindu text word number: ',len(words8))

total sentence 12231
<class 'list'>
sen_ran8 4544
shordindu text word number:  132750

In [97]:
#print(sen_ran8[1200:1210])
randomsentence8=''
for i in sen_ran8[1200:3201]:
    randomsentence8=f'{i}।{randomsentence8}'
#print(randomsentence8)
short_df=pd.DataFrame(randomsentence8.split('।'))
short_df.columns=['sent']
short_df.to_excel('shordindu_random.xlsx',index=False)

In [98]:
df=pd.read_excel('shordindu_random.xlsx')
df

                                                   sent
0       কিন্তু এ কী? চক্ষু কৰ্ণ দিয়ে যাকে প্রত্যক্ষ...
1       ‘এদিকে গদানন্দর সঙ্গে—ভাল কথা‌, জগদানন্দ অধি...
2       ভিল তাহাকে হাতে ধরিয়া তীর ছুঁড়িতে শিখাইল; কি...
3       আমি হূণের বিরুদ্ধে যুদ্ধ যাত্রা করিলে সত্যই ...
4       ব্যোমকেশ বলিল‌, চলুন‌, আজ সন্ন্যাসী ঠাকুরের ...
...                                                 ...
1995    বৈশালী হইতে দ্বাদশ শত পদ দক্ষিণে বৈশ্যাধিপতি...
1996    কিন্তু এখন সাপটাকে নিয়ে কি করা যাবে? সাপটকে...
1997    কালিদাস তাহার দিকে ফিরিয়া চোখের ইঙ্গিতে তাহা...
1998    রেবা আন্নাকে ডাকিয়া প্রশ্ন করিল‌, ‘বাবু কোথা...
1999   ’ বলিয়া দক্ষিণ দিকে যেখানে বালুর রেখা বাঁকিয...

[2000 rows x 1 columns]

In [99]:
nzt=' '
for i in range(44):
    nzt=f'{nazrul_text[i]} {nzt}'
#print(nzt)
sentences9=nzt.split('।')
print('total sentence',len(sentences9))
#print(sentences9)
sen_filter9=''
for i in sentences9:
    splt9=i.split()
    if len(splt9)>=12:
        sen_filter9=f'{i}। {sen_filter9}'

sen_ran9=sen_filter9.split('।')
#print(sen_random9)
print(type(sen_ran9))
print('sen_ran9',len(sen_ran9))
shuffle(sen_ran9)
#print(sen_ran9)
words9=nzt.split()
#print(words9)
print(f'nazrul text word number: ',len(words9))

total sentence 1606
<class 'list'>
sen_ran9 969
nazrul text word number:  33000

In [100]:
nzt_df=pd.DataFrame(sen_ran9)
nzt_df.columns=['sent']
nzt_df.to_excel('nazrul_random.xlsx',index=False)

In [101]:
df=pd.read_excel('nazrul_random.xlsx')
df

                                                  sent
0      তার সকল অনুশোচনা, সকল গ্লানি এই মহামৌনীর আঁখ...
1      আচ্ছা, এই দশ বছর পরে দেখে চিনতে পারবি কী করে...
2      স্কুল-প্রাঙ্গণে ছেলেদের উচ্চ হো-হো রোল, রাস্...
3      এ জলদানো আর কেউ নয়, এ আমাদের সেই বিচিত্রবুদ্...
4      আমার এত আত্মসম্মান থাকাটা কিন্তু আশ্চর্য নয়,...
..                                                 ...
963    তবে সেদিন যে সে আমায় অপমান করে তাড়িয়ে দিলে? ...
964   আনন্দ আমার বুক ছেয়ে ফেলেছে! সে আনন্দটা এই কাঠ...
965    মাহ্‌বুবার বাপ যতদিন বেঁচেছিলেন, ততদিন আমি ও...
966    এটা তাদের ধর্মের অঙ্গ কিনা জানি না, কিন্তু আ...
967    ব্যথার পূজা ব্যর্থ হওয়ার নয় প্রিয়! … কোথায় য...

[968 rows x 1 columns]

In [108]:
srt=' '
for i in range(169):
    srt=f'{shottojit_roy_text[i]} {srt}'
#print(srt)
sentences10=srt.split('।')
print('total sentence',len(sentences10))
#print(sentences10)
sen_filter10=''
for i in sentences10:
    splt10=i.split()
    if len(splt10)>=12:
        sen_filter10=f'{i}। {sen_filter10}'

sen_ran10=sen_filter10.split('।')
#print(sen_random10)
print(type(sen_ran10))
print('sen_ran10',len(sen_ran10))
shuffle(sen_ran10)
#print(sen_ran10)
words10=srt.split()
#print(words10)
print(f'shottojit roy text word number: ',len(words10))

total sentence 12084
<class 'list'>
sen_ran10 4090
shottojit roy text word number:  126750

In [109]:
#print(sen_ran10[500:510])
randomsentence10=''
for i in sen_ran10[500:2501]:
    randomsentence10=f'{i}।{randomsentence10}'
#print(randomsentence10)
srt_df=pd.DataFrame(randomsentence10.split('।'))
srt_df.columns=['sent']
srt_df.to_excel('shottojit_roy_random.xlsx',index=False)

In [3]:
df=pd.read_excel('shottojit_roy_random.xlsx')
df

FileNotFoundError: [Errno 2] No such file or directory: 'shottojit_roy_random.xlsx'

In [111]:
tst=' '
for i in range(155):
    tst=f'{tarashonkor_text[i]} {tst}'
#print(tst)
sentences11=tst.split('।')
print('total sentence',len(sentences11))
#print(sentences11)
sen_filter11=''
for i in sentences11:
    splt11=i.split()
    if len(splt11)>=12:
        sen_filter11=f'{i}। {sen_filter11}'

sen_ran11=sen_filter11.split('।')
#print(sen_random11)
print(type(sen_ran11))
print('sen_ran11',len(sen_ran11))
shuffle(sen_ran11)
#print(sen_ran11)
words11=tst.split()
#print(words11)
print(f'tarashonkor text word number: ',len(words11))

total sentence 11635
<class 'list'>
sen_ran11 3403
tarashonkor text word number:  116250

In [115]:
#print(sen_ran11[500:510])
randomsentence11=''
for i in sen_ran11[500:2501]:
    randomsentence11=f'{i}।{randomsentence11}'
#print(randomsentence11)
tnt_df=pd.DataFrame(randomsentence11.split('।'))
tnt_df.columns=['sent']
tnt_df.to_excel('tarashonkor_random.xlsx',index=False)

In [116]:
df=pd.read_excel('tarashonkor_random.xlsx')
df

                                                   sent
0       আমার মন আমাকে ঠকালে, না এটা নিয়তির খেলা, কি ...
1       গোষ্ঠর অবস্থা চিরদিনই এমন ছিল না, তাহার বাপে...
2       পশ্চিমে জয়দেবকেন্দুলী হইতে কাটোয়ার অজয় ও গঙ্...
3       আর আমার ধারণা তুমি অন্তত আমার সামনে সত্য কখন...
4       গোলালো বুক ফুলে উঠেছে, গালে টোল খেয়েছে, সুন্...
...                                                 ...
1995    কয়েকদিনের বসবাসের জন্য তৈরী খড়ের ঘর, সেই ঘ...
1996    যে গল্প তুমি বলছিলে! ঠিক এই সময়েই খানিকটা দূ...
1997    রুশ দেশের বিপ্লবের কথা, সে দেশের বর্তমান অবস...
1998    ওই নাও! কোথায় গেলেন আবার? কোথা কোন্ পাড়াগাঁয়...
1999    বয়সের বৃদ্ধ বাপ, পঁয়ত্রিশ বছর বয়সের জোয়ান ছে...

[2000 rows x 1 columns]

In [117]:
sst=' '
for i in range(210):
    sst=f'{shirshendu_text[i]} {sst}'
#print(sst)
sentences12=sst.split('।')
print('total sentence',len(sentences12))
#print(sentences12)
sen_filter12=''
for i in sentences12:
    splt12=i.split()
    if len(splt12)>=12:
        sen_filter12=f'{i}। {sen_filter12}'

sen_ran12=sen_filter12.split('।')
#print(sen_random12)
print(type(sen_ran12))
print('sen_ran12',len(sen_ran12))
shuffle(sen_ran12)
#print(sen_ran12)
words12=sst.split()
#print(words12)
print(f'shirshendu text word number: ',len(words12))

total sentence 19673
<class 'list'>
sen_ran12 3712
shirshendu text word number:  157500

In [118]:
#print(sen_ran12[1000:1010])
randomsentence12=''
for i in sen_ran12[1000:3001]:
    randomsentence12=f'{i}।{randomsentence12}'
#print(randomsentence12)
sst_df=pd.DataFrame(randomsentence12.split('।'))
sst_df.columns=['sent']
sst_df.to_excel('shirshendu_random.xlsx',index=False)

In [119]:
df=pd.read_excel('shirshendu_random.xlsx')
df

                                                   sent
0       লজ্জা কাকে? তোমার বউ তোমাকে কাঁচকলা দেখিয়েছে...
1       নিমাই সঙ্গে সঙ্গে একমত হয়ে বলে, সে আর বলতে! ...
2       নিমাইকে নিতে চেয়েছিলেন, তবে বুড়ো মা-বাপ, ক্ষ...
3       তবু তোর কাছে এসেছি কেন তা জানিস! জামাইবাবুর ...
4       ইস আমার যে কী আনন্দটাই হচ্ছে! হেমাঙ্গ মৃদু হ...
...                                                 ...
1995    পগা যে রাতে মারা যায় সে রাতের কথা মনে করে দে...
1996    শেষ রাত্রির অন্ধকারে নদীর ধারের রাস্তা ধরে দ...
1997    আনন্দধামের বারান্দা থেকে পিনুর মা অবাক গলায় ...
1998    কথাটা অবিশ্বাসের নয় হয়তো, কিন্তু তবু মানুষকে...
1999    ম্যাগাজিনটা ফেলে রেখে নিজের খাটো চুল খোঁপায় ...

[2000 rows x 1 columns]

In [120]:
bkt=' '
for i in range(112):
    bkt=f'{bongkim_text[i]} {bkt}'
#print(bkt)
sentences13=bkt.split('।')
print('total sentence',len(sentences13))
#print(sentences13)
sen_filter13=''
for i in sentences13:
    splt13=i.split()
    if len(splt13)>=12:
        sen_filter13=f'{i}। {sen_filter13}'

sen_ran13=sen_filter13.split('।')
#print(sen_random13)
print(type(sen_ran13))
print('sen_ran13',len(sen_ran13))
shuffle(sen_ran13)
#print(sen_ran13)
words13=bkt.split()
#print(words13)
print(f'bongkim text word number: ',len(words13))

total sentence 7796
<class 'list'>
sen_ran13 2591
bongkim text word number:  84000

In [121]:
#print(sen_ran13[0:10])
randomsentence13=''
for i in sen_ran13[0:2001]:
    randomsentence13=f'{i}।{randomsentence13}'
#print(randomsentence13)
bkt_df=pd.DataFrame(randomsentence13.split('।'))
bkt_df.columns=['sent']
bkt_df.to_excel('bongkim_random.xlsx',index=False)

In [122]:
df=pd.read_excel('bongkim_random.xlsx')
df

                                                   sent
0       নিশাকর বলিতে লাগিলেন, “আপনার ভার্যা আমাকে বি...
1       সেটা পলায়ন অবধি রাজার মেজাজ এমন গরম যে, কাক ...
2       কন্যার পিতা পুত্রহীন, এজন্য এই বিবাহে বীরেন্...
3       কিন্তু চাহিয়া দেখিয়া নসীরামকে চিনিতে পারিলাম...
4       রজনীর সঙ্গে আমার বিবাহের কথা উত্থাপিত হওয়া অ...
...                                                 ...
1995    তখন হরিদাসী সতৃষ্ণবিলোলনেত্রে কুন্দনন্দিনীর ...
1996    কি যেন হারাইয়াছি–যেন তাই হারাইবাতে জীবনসর্বস...
1997   ” জগৎসিংহও তথায় উপস্থিত ছিলেন ; তিনি সর্বাপেক...
1998    আম্রকানন প্রবেশাবধি, উভয়ে পুনর্বার সেইরূপ শু...
1999    কে কি বলিবে? এক মাগী তাড়া করিয়া মারিতে আসিয়া...

[2000 rows x 1 columns]

In [123]:
nrgt=' '
for i in range(95):
    nrgt=f'{nihar_ronjon_gupta_text[i]} {nrgt}'
#print(nrgt)
sentences14=nrgt.split('।')
print('total sentence',len(sentences14))
#print(sentences14)
sen_filter14=''
for i in sentences14:
    splt14=i.split()
    if len(splt14)>=12:
        sen_filter14=f'{i}। {sen_filter14}'

sen_ran14=sen_filter14.split('।')
#print(sen_random14)
print(type(sen_ran14))
print('sen_ran14',len(sen_ran14))
shuffle(sen_ran14)
#print(sen_ran14)
words14=nrgt.split()
#print(words14)
print(f'nihar ronjon gupta text word number: ',len(words14))

total sentence 6111
<class 'list'>
sen_ran14 2298
nihar ronjon gupta text word number:  71250

In [126]:
#print(sen_ran14[0:10])
randomsentence14=''
for i in sen_ran14[0:2000]:
    randomsentence14=f'{i}।{randomsentence14}'
#print(randomsentence14)
nrgt_df=pd.DataFrame(randomsentence14.split('।'))
nrgt_df.columns=['sent']
nrgt_df.to_excel('nihar_ronjon_gupta_random.xlsx',index=False)

In [127]:
df=pd.read_excel('nihar_ronjon_gupta_random.xlsx')
df

                                                   sent
0       আমি– শেষ করে দিয়েছ তো– না– সেকি? হ্যাঁ–প্রয়...
1       শিখেন্দুবাবু? বলুন! এ-বাড়ির সঙ্গে যখন বিশেষ ...
2       এই পর্যন্ত বলে কিরীটী মাধবের আনীত অ্যাটাচি ক...
3       সরোজিনীর ব্যাপারটা আদৌ ভাল লাগল না, কিন্তু ত...
4       প্ল্যাস্টিকের চুড়ির ভাঙা টুকরো দুটো পরীক্ষা ...
...                                                 ...
1995    শুনলেন তো সব কটাই অপদার্থ-নিজের পায়ে নিজে দা...
1996    পরমেশবাবু বলতে লাগলেন, পুত্রের মতই এ-কয় বছর ...
1997    সেখান থেকে কখন বৌকে ওপরে নিয়ে যাওয়া হয়? বোধ ...
1998    কিরীটী এগিয়ে গিয়ে সমুদ্রের দিকের জানালা খুলে...
1999    তোমার এখান থেকে ট্যাক্সিতে দি রিট্রিট মাত্র ...

[2000 rows x 1 columns]

In [128]:
mbt=' '
for i in range(93):
    mbt=f'{manik_bandhopaddhay_text[i]} {mbt}'
#print(mbt)
sentences15=mbt.split('।')
print('total sentence',len(sentences15))
#print(sentences15)
sen_filter15=''
for i in sentences15:
    splt15=i.split()
    if len(splt15)>=12:
        sen_filter15=f'{i}। {sen_filter15}'

sen_ran15=sen_filter15.split('।')
#print(sen_random15)
print(type(sen_ran15))
print('sen_ran15',len(sen_ran15))
shuffle(sen_ran15)
#print(sen_ran15)
words15=mbt.split()
#print(words15)
print(f'manik bandhopaddhay text word number: ',len(words15))

total sentence 5372
<class 'list'>
sen_ran15 2329
manik bandhopaddhay text word number:  69750

In [131]:
#print(sen_ran15[0:10])
randomsentence15=''
for i in sen_ran15[0:2001]:
    randomsentence15=f'{i}।{randomsentence15}'
#print(randomsentence15)
mbt_df=pd.DataFrame(randomsentence15.split('।'))
mbt_df.columns=['sent']
mbt_df.to_excel('manik_bandhopaddhay_random.xlsx',index=False)

In [132]:
df=pd.read_excel('manik_bandhopaddhay_random.xlsx')
df

                                                   sent
0       ফুলজান শুধু শয্যাশায়িতা গৌরী আর তার পিসির সঙ...
1       মালতী তামাশা করে, সব সময়ে সব বিষয়ে এরকম হালক...
2       যাদবের মুখে ঠিকানা শুনে ভদ্রলোক যেন চমকে যায়...
3       চরডাঙ্গা হইতে ফিরিবার পরদিন সে ঘর তুলিবার জন...
4       শ্যামা বলিল, তোমাদের ঝগড়া হয়েছে নাকি শঙ্কর?–...
...                                                 ...
1995    নদীর জল তুলিয়া নৌকা ধুইতে ধুইতে কুবের একসময...
1996    অবরুদ্ধ উত্তেজনায় সভা থমথম করিতেছে, একটা অঘট...
1997    তা, বউ আসতে আর দেরি কত! শিগগির বাপের বাড়ি চল...
1998    মালতীর মুখখানা এখনো হাসি হাসি বটে, কিন্তু সে...
1999    মামা বলে, কি চাই বললে পরিমল নস্যি? ওই ও দোকা...

[2000 rows x 1 columns]

In [51]:
rbt=' '
for i in range(252):
    rbt=f'{robindronath_text[i]} {rbt}'
#print(rbt)
sentences16=rbt.split('।')
print('total sentence',len(sentences16))
#print(sentences16)
sen_filter16=''
for i in sentences16:
    splt16=i.split()
    if len(splt16)>=12:
        sen_filter16=f'{i}। {sen_filter16}'

sen_ran16=sen_filter16.split('।')
#print(sen_random16)
print(type(sen_ran16))
print('sen_ran16',len(sen_ran16))
shuffle(sen_ran16)
#print(sen_ran16)
words16=rbt.split()
#print(words16)
print(f'robindronath text word number: ',len(words16))

total sentence 14114
<class 'list'>
sen_ran16 6907
robindronath text word number:  189000

In [59]:
#print(sen_ran16[4000:4010])
randomsentence16=''
for i in sen_ran16[4000:6001]:
    randomsentence16=f'{i}।{randomsentence16}'
#print(randomsentence16)
rbt_df=pd.DataFrame(randomsentence16.split('।'))
rbt_df.columns = ['sent']
rbt_df.to_excel('robindronath_random.xlsx',index=False)

In [60]:
df=pd.read_excel('robindronath_random.xlsx')
df

                                                   sent
0       পরেশবাবুর শান্ত মুখচ্ছবি দেখিলে তিনি যে সত্য...
1       মধ্যাহ্নের প্রখর আলোকে উন্মুক্ত দ্বারে দাম্প...
2       তখন ইন্দ্রাণী লোহার সিন্দুক খুলিয়া তাহার সমস...
3       মহেন্দ্রের মাতা কহিতেন সে কথা মিছা নয়, মহেন্...
4       প্যারিসে একজন বান্ধবীর মুখে শুনেছি, বিলিতি স...
...                                                 ...
1995    কহিল— আরো ভালোই হইয়াছে, তাহাদের দুইজনের যে প...
1996   ” আশা গঙ্গাজল বকুলফুল প্রভৃতি অনেকগুলি ভালো ভ...
1997   ” গোরা বলিল, “বিনয়, এ-সব কথা আমি যে ঠিক বুঝি ...
1998    কিন্তু, এত সেবা আমার জন্যে কেন? সাজসজ্জা দাস...
1999    ৭ অবশেষে ফকির মহা চেঁচামেচি করিয়া বলিতে লাগি...

[2000 rows x 1 columns]